<% if @services.any? %>
  <div class="max-w-screen-xl mx-auto mb-96">
    <div class="justify-between items-center flex py-5">
      <p class="text-xl text-gray-900">Services</p>
      <%= link_to "New services", new_service_path, class: 'ml-2 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
    </div>
    <table class="table w-full table-fixed">
      <thead>
        <th class="text-gray-900 bg-gray-400">Title</th>
        <th class="text-gray-900 bg-gray-400">Category</th>
      </thead>
    </table>

    <div id="services">
      <% @services.each do |service| %>
        <%= link_to service, action: 'go' do %>        
          <div class="max-w-screen-xl mx-auto">
            <table class="table w-full table-fixed">
              <tbody>
                <tr class="hover hover:bg-gray-300">
                  <th class="text-gray-900 bg-gray-200"><%= service.title %></th>
                  <th class="text-gray-900 bg-gray-200"><%= service.category_service.name %></th>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %> 
      <% end %>
    </div>
  </div>
<% else %>
  <div class="w-full text-center py-8">
    <h1 class="text-gray-900 font-extrabold text-5xl md:text-4xl">Services</h1>
    <p class="text-gray-500 text-2xl md:text-xl font-normal my-10">No services</p>
    <%= link_to "New services", new_service_path, class: 'inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>
<% end %>
